.App {
  text-align: center;
}

*{
  font-family: 'Ropa Sans', sans-serif;
}

body {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #112141;
  color:white;

}

a {
  color: blueviolet
}

a:hover {
  color: tomato;
}

.ropa {
  font-family: 'Ropa Sans', sans-serif;
}